body {
    background-color: #363131;
}

.quote-container {
    margin-left: 0;
    width: fit-content;
}

.contact {
    padding: 4%;
    max-height: 400px;
}

.col-md-3 {
    background: #32b0c9;
    color: #fff;
    padding: 4%;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.email-info {
    margin: 20px auto;
}

.email-title {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
}

.contact-info img {
    margin-bottom: 15%;
}

.contact-info h2 {
    margin-bottom: 10%;
}

.col-md-9 {
    background: #fff;
    padding: 3%;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.contact-form label {
    font-weight: 600;
}

.contact-form button {
    background: #013c5a;
    color: #fff;
    font-weight: 600;
    width: 25%;
}

.contact-form button:hover {
    color: #fff;
    background: #025179;
    box-shadow: none;
}